<h1> Hello, <%=user.username%>! </h1>
<h3> <%=user.email%></h3>


<article id="category-selection">
  <ul id="category-selection-list"></ul>

  <button id="category-selection-button">New Category</button>
</article>